.download-row-big {
    padding: 0 !important;
}

#map-cards.download-cards {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.download-down-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--ds);

    p {
        margin: 0;
    }
}

.download-up {

    a {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .download-goto-page {
        max-height: 156px;
        height: 100%;
        transition: max-height 0.2s ease-in-out;
    }

    &:hover {

        .download-goto-page {
            max-height: 2500px;
        }
    }
}