.download-row-big {
    padding: 0 !important;
}

#map-cards.download-cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.download-down-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--ds);

    p {
        margin: 0;
    }
}