.bigform {
    width: 100%;
}

.nav-header a.navbtn {
    padding: 0 var(--ds);
}

.modal-footer.langsScenario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    button {
        width: 100%;
        background-color: var(--ac-bg);

        &:hover {
            background-color: var(--ac-bg-hover);
        }
    }
}