

html {
    overflow: unset;
    max-height: unset;

    body {
        min-height: 100dvh;
        overflow: unset;
        max-height: unset;

        &.dark-theme {
            background: #1e1e1e;

            .nav-header {
                background: #1e1e1e;
            }
        }

        .page.active {
            max-height: unset;
            overflow: unset;
        }
    }
}

.action-button.back {
    height: 36px;
}

.navbtn {
    background-color: var(--ac-bg);
    color: var(--text-pri);

    &:hover {
        background-color: var(--ac-bg-hover);
    }
    
    &.active {
        background-color: var(--ac-bg-light);
    }
}

.page.active {
    max-height: calc(100dvh - 68px) !important;
}


/* TEST */
/*.filter-group-content.collapsed {
    height: auto;
}

#lib-filters {
    display: block;
}