.lib-modern-down {
    display: inline-flex;
    flex-direction: column;
}

.lib_modern_grouplist {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: none;
    border-radius: var(--br);
    width: calc(100% - 20px);
}

.download-container {
    background: none;
}

.download-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--ds);
}

.download-card {
    background-color: var(--bg-pri);
    width: 100%;

    &.map-card {
        width: calc(100% - 2 * var(--ds));
        overflow: hidden;
    }
}

.download-info .download-row-big, .download-tags {
    padding: 0 var(--ds);
}

.download-image-container, .download-goto-page {
    width: 100%;
}