@media (orientation: portrait) {
    .download-card.map-card {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .header-logo-container {
        display: none;
    }

    .action-button.back {
        width: 36px;
    }

    .nav-header {
        flex-direction: row;
        padding: var(--ds) var(--dss);

        .navbtn:not(#back-to-reforms) {
            width: 100%;
        }
    }

    .download-card.map-card {
        width: 100%;
    }
    
    .header-scenario .nav-icons {
        align-items: stretch;
        flex-direction: column;
    }
}